.item {
    display: flex;
    width: 100%;
    gap: 12px;
}

.title {
    font-size: 14px;
}

.extra {
    font-size: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapper {
    width: 64px;
    height: 64px;
    background-color: #f2f4f5;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}

.titlePlaceholder {
    width: 80%;
    height: 16px;
    border-radius: 8px;
}

.extraPlaceholder {
    width: 55%;
    height: 12px;
    border-radius: 8px;
}
